@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: black
}

a:hover {
    text-decoration: none;
    color: black
}

.error {
    color: red;
}

.black-white {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.btn-primary {
    background-color: #2EE59D !important;
    border: 2px solid transparent !important;
}

.btn-primary:hover {
    background-color: #66E5B3 !important;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.form-signin {
    max-width: 350px;
}

.data-list .card {
    transition-duration: 0.5s;
}

.data-list .card:hover {
     background-color: antiquewhite;
    transform: scale(1.1);
}

.admin-label::after {
    content: 'ad.';
    font-size: 10px;
    color: gold;
    position: relative;
    top: -10px;
    left: 2px;
}

@import url('https://fonts.googleapis.com/css2?family=Coda+Caption&display=swap');
.logo {
    font-size: 30px;
    font-weight: bolder;
}

.logo a {
    font-family: 'Coda Caption', sans-serif;
}

header {
    padding: 40px 40px 10px 40px;
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

header .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .search-module {
    width: 20vw;
}

header .user .btn {
    padding: 15px 40px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

header .user .btn:hover {
    transition: all 500ms;
    border: none;
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: scale(1.03);
}

header .bottom-row ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 30px;
}

header .modules li::after {
    content: " ";
    display: block;
    width: 0;
    height: 2px;
    background: #2EE59D;
    transition: width 300ms;
}

header .modules li:hover::after {
    width: 100%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
}

.product-item {
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    cursor: pointer;
    transition: all 500ms;
    max-width: 400px;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item:hover .product-name {
    text-decoration: underline;
}

.product-item .avatar {
    width: 250px;
}

.invis {
    width: 30px;
    position: relative;
    top: -240px;
    left: 250px
}

.product-item .product-name {
    width: 250px;
    height: 60px;
    font-size: 14px;
}

.product-item .price {
    font-weight: bold;

}

.product-item .price .number {
    font-size: 30px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-item .cart-btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: #2EE59D;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.product-item .cart-btn:hover {
    background-color: #66E5B3;
    transform: scale(1.03);
}

.product-item .cart-btn img {
    width: 30px;
}

.product-item .card-body {
    margin-top: 10px;
}
